/*
	Author: Ender İMEN;
	Date : 22.02.2018;
*/

* {
	margin: 0;
	padding: 0;
}

body{
	background-color: pink;
	cursor: pointer;
	position: relative;
	font-family: Tahoma;
}

h2{
	text-align: center;
	margin: 1% auto;
	user-select: none;
	color: #fff;
}